*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  overflow-y: auto;
}

.movies {
  margin: 40px auto 0;
  text-align: center;
  .movies-input {
    text-align: center;
    input[type="text"] {
      width: 100%;
      border: none;
      padding: 8px 16px;
      outline: none;
      border: 1px #ccc solid;
      border-radius: 2px;
      margin-bottom: 40px;
    }
  }
  .movies-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
  }
}

.movie {
  width: 180px;
  height: 274px;
  margin-bottom: 8px;
  margin-right: 8px;
  display: flex;
  flex: 1 1 auto;
  position: relative;
  &:hover .movie-title {
    opacity: 1
  }
  &.ng-enter {
    animation: 200ms zoomIn ease;
  }
  &.ng-enter-stagger {
    animation-delay: 100ms;
    animation-duration: 0;
  }
  .movie-image,
  .movie-title {
    width: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .movie-image {
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #ccc;
    img {
      width: 100%;
      outline: none;
      border: none;
    }
  }
  .movie-title {
    padding: 20px;
    background-color: rgba(0,0,0, 0.5);
    opacity: 0;
    transition: opacity ease 400ms;
    h2 {
      color: #ffffff;
    }
  }
}


.loader {
  text-align: center;
  .spinner {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto 20px;
    border: 4px #09C solid;
    border-radius: 50%;
    border-top-color: transparent;
    animation: rotate 600ms linear infinite;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
