*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#wrapper {
  background-color: #FED581;
  width: 100%;
  top: 0;
  bottom: 0;
}

#profile-card {
  width: 300px;
  height: 100px;
  position: relative;
  margin: 0 auto;
  background-color: #eee;
}
